<ion-view view-title = "Intro">
     <ion-content style="background-color: #222">
         <!-- <div class="login"></div> -->
    <!-- <ion-content class="padding has-subheader"> -->
        
      <div style="color: #fff;font-size: 20px; text-align: center;transform: translateY(300px);">Welcome to Srikanth's app</div>

        <div class="foot-lnk" style="left: 170px" ng-controller = "SignInCtrl">
          <button class="button button-large icon ion-log-in" ng-click = "signIn()"></button>
        </div>
     </ion-content>
     </ion-view>
